<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
<head>
    <meta charset="utf-8">
    <title>Chronex</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="uers/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="user/assets/css/main.css">
</head>

<body>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="index.html"><img src="user/assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <!-- <div class="main-categori-wrap d-none d-lg-block">
                       
                        
                    </div>  -->
                    <div class="logo logo-width-1">
                        <a href="#" ><img src="images/logo_image.png" alt="logo"></a>
                    </div>

                    <!-- pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp -->
                    <div class="main-menu  main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>
                                <li><a class="active" href="/home">Home </a>
                                    
                                </li>
                                <li><a class="" href="/shop">Shope </a>
                                        
                                </li>
                               
                                <li><a href="#">Category<i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% for(let i=0;i<category.length;i++){ %>
                                        <li><a href="#"><%= category[i].category %></a></li>
                                        <% } %>
                                    </ul>
                                </li>
                                <li><a href="#">Brand<i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% for(let i=0;i<brand.length;i++){ %>
                                            <li><a href="#"><%= brand[i].brand %></a></li>
                                            <% } %>
                                        
                                    </ul>
                                </li>   
                                <li>
                                    <a href="page-about.html">About</a>
                                </li>
                               
                              
                                <li>
                                    <a href="page-contact.html">Contact</a>
                                </li>

                                <li>
                                    <a href="/userAccount">Account</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header-action-right">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/wishlist">
                                <img class="svgInject" alt="Evara" src="user/assets/imgs/theme/icons/icon-heart.svg">
                                <span class="pro-count blue"><%= wishlist && wishlist.items ? wishlist.items.length : 0 %></span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/cart">
                                <img alt="Evara" src="user/assets/imgs/theme/icons/icon-cart.svg">
                                <span class="pro-count blue"><%= cart && cart.items ? cart.items.length : 0 %></span>
                            </a>
                           
                        </div>
                    </div>
                </div>
               
                <div class="header-action-icon-2">
                    <a class="mini-cart-icon" href="shop-cart.html">
                        <img alt="Evara" src="user/assets/imgs/theme/icons/icon-cart.svg">
                        <!-- <span class="pro-count blue">66</span> -->
                    </a>
                   
                </div>
               
               
            </div>
        </div>
    </div>
            
   
    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                  <a href="">  <span></span> Cart</a>
                 
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            
                            <table class="table shopping-summery text-center clean">

                                <P style="color: rgb(47, 215, 38); text-align: center;"><%= msg %></P>
                                <P style="color: rgb(254, 0, 0); text-align: center;"><%= fail %></P>
                                <br>
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cartData.items.forEach(item => { %>
                                       
                                            <tr>
                                                <td class="image product-thumbnail">
                                                    <img src="/public/product_images/<%= item.product.images[0] %>" alt="#">
                                                </td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="shop-product-right.html"><%= item.product.title %></a></h5>
                                                    <p class="font-xs"><%= item.product.description %></p>
                                                </td>
                                                <% if(item.product.isDiscounted == true){ %>
                                                    <td class="price" data-title="Price">
                                                        <span class="item-price"><%= item.product.offerPrice %></span>
                                                    </td>
                                                    <% }else{ %>
                                                        <td class="price" data-title="Price">
                                                            <span class="item-price"><%= item.product.price %></span>
                                                        </td>
                                                        <% } %>
                                                
                                                <td class="text-center" data-title="Stock">
                                                    <div class="detail-qty border radius m-auto">
                                                        <a href="#" class="qty-down" data-product-id="<%= item.product._id %>" data-stock="<%= item.product.stock %>">
                                                            <i class="fi-rs-angle-small-down"></i>
                                                        </a>
                                                        <span class="qty-val"><%= item.quantity %></span>
                                                        <a href="#" class="qty-up" data-product-id="<%= item.product._id %>" data-stock="<%= item.product.stock %>">
                                                            <i class="fi-rs-angle-small-up"></i>
                                                        </a>
                                                    </div>
                                                    <div class="stock-message" style="color: red; display: none;"></div>
                                                </td>
                                                <td class="text-right" data-title="Cart">
                                                    <span class="item-total"><%= item.quantity * item.product.price %></span>
                                                </td>
                                                <td class="action" data-title="Remove">
                                                    <a href="/deletFromCart?id=<%= item.product._id %>" class="text-muted">
                                                        <i class="fi-rs-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                       <!-- End check for item.product -->
                                    <% }) %>
                                    <tr>
                                        <td colspan="6" class="text-end">
                                            <a href="#" class="text-muted">
                                                <!-- <i class="fi-rs-cross-small"></i> Clear Cart -->
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <!-- <a class="btn mr-10 mb-sm-15"  id="update-cart-btn"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                            <a href="/home" class="btn"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>



                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50 justify-content-center">
                          
                            <div style="align-content: center;"  class="col-lg-6 col-md-12">
                                <% if(!cartData || cartData.items.length == 0 ||cartData.totalPrice==0 ) {%>
                                    <% }else{ %>
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div id="cartTotals" class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">$<%= cartData.totalPrice %></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">$<%= cartData.totalPrice %></span></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                   
                                    <a href="/checkOut" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                            <% } %>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <!-- <a href="index.html"><img src="user/assets/imgs/theme/logo.svg" alt="logo"></a> -->
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="user/assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="user/assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="user/assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Preloader Start -->
    
    <!-- Vendor JS-->
    <script src="user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="user/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="user/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="user/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="user/assets/js/plugins/slick.js"></script>
    <script src="user/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="user/assets/js/plugins/wow.js"></script>
    <script src="user/assets/js/plugins/jquery-ui.js"></script>
    <script src="user/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="user/assets/js/plugins/magnific-popup.js"></script>
    <script src="user/assets/js/plugins/select2.min.js"></script>
    <script src="user/assets/js/plugins/waypoints.js"></script>
    <script src="user/assets/js/plugins/counterup.js"></script>
    <script src="user/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="user/assets/js/plugins/images-loaded.js"></script>
    <script src="user/assets/js/plugins/isotope.js"></script>
    <script src="user/assets/js/plugins/scrollup.js"></script>
    <script src="user/assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="user/assets/js/main.js"></script>
    <script src="user/assets/js/shop.js"></script>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Function to update cart for a single product
        function updateCartItem(productId, quantity, subtotal) {
            $.ajax({
                url: '/updateCart', 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ productId, quantity, subtotal }),
                success: function(response) {
                    setTimeout(function() {
            location.reload();
        }, 1500); 
                    console.log('Cart item updated successfully:', response);
                },
                error: function(xhr, status, error) {
                    console.error('Error updating cart item:', error);
                }
            });
        }
    
        // Load quantities from local storage on page load
        $('.qty-val').each(function() {
            const productId = $(this).siblings('.qty-up').data('product-id');
            const savedQty = localStorage.getItem(`cart_${productId}`);
            if (savedQty) {
                $(this).text(savedQty);
                const price = parseFloat($(this).closest('tr').find('.item-price').text());
                const newTotal = (savedQty * price).toFixed(2);
                $(this).closest('tr').find('.item-total').text(newTotal);
            }
        });
    
        // Increase quantity
        $('.qty-up').click(function(e) {
            e.preventDefault();
            const $this = $(this);
            const $qtyVal = $this.siblings('.qty-val');
            const currentQty = parseInt($qtyVal.text());
            const stock = parseInt($this.data('stock'));
            const price = parseFloat($this.closest('tr').find('.item-price').text());
            const $stockMessage = $this.closest('td').find('.stock-message');
            const productId = $this.data('product-id');
    
            if (currentQty < stock && currentQty < 5) {
                $stockMessage.hide();
                const newQty = currentQty + 1;
                $qtyVal.text(newQty);
                const newTotal = (newQty * price).toFixed(2);
                $this.closest('tr').find('.item-total').text(newTotal);
                
                localStorage.setItem(`cart_${productId}`, newQty);
                
                // Call the update function for this item
                updateCartItem(productId, newQty, newTotal);
            } else {
                $stockMessage.text('Limit reached').show();
            }
        });
    
        // Decrease quantity
        $('.qty-down').click(function(e) {
            e.preventDefault();
            const $this = $(this);
            const $qtyVal = $this.siblings('.qty-val');
            const currentQty = parseInt($qtyVal.text());
            const price = parseFloat($this.closest('tr').find('.item-price').text());
            const $stockMessage = $this.closest('td').find('.stock-message');
            const productId = $this.data('product-id');
    
            if (currentQty > 1) {
                $stockMessage.hide();
                const newQty = currentQty - 1;
                $qtyVal.text(newQty);
                const newTotal = (newQty * price).toFixed(2);
                $this.closest('tr').find('.item-total').text(newTotal);
    
                localStorage.setItem(`cart_${productId}`, newQty);
    
                // Call the update function for this item
                updateCartItem(productId, newQty, newTotal);
            }
        });
    });
    </script>
    





<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->
</html>