<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>chronex</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="user/assets/css/main.css">
</head>
<body>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="index.html"><img src="user/assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <!-- <div class="main-categori-wrap d-none d-lg-block">
                       
                        
                    </div>  -->
                    <div class="logo logo-width-1">
                        <a href="#" ><img src="images/logo_image.png" alt="logo"></a>
                    </div>

                    <!-- pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp -->
                    <div class="main-menu  main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>
                                <li><a  href="/home">Home </a>
                                    
                                </li>
                                <li><a class="" href="/shop">Shope </a>
                                        
                                </li>
                               
                                <li><a href="#">Category<i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% for(let i=0;i<category.length;i++){ %>
                                        <li><a href="#"><%= category[i].category %></a></li>
                                        <% } %>
                                    </ul>
                                </li>
                                <li><a href="#">Brand<i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% for(let i=0;i<brand.length;i++){ %>
                                            <li><a href="#"><%= brand[i].brand %></a></li>
                                            <% } %>
                                        
                                    </ul>
                                </li>   
                                <li>
                                    <a href="page-about.html">About</a>
                                </li>
                               
                              
                                <li>
                                    <a href="page-contact.html">Contact</a>
                                </li>

                                <li>
                                    <a class="active" href="http://localhost:5000/userAccount">Account</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header-action-right">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/wishlist">
                                <img class="svgInject" alt="Evara" src="user/assets/imgs/theme/icons/icon-heart.svg">
                                <span class="pro-count blue"><%= wishlist && wishlist.items ? wishlist.items.length : 0 %></span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/cart">
                                <img alt="Evara" src="user/assets/imgs/theme/icons/icon-cart.svg">
                                <span class="pro-count blue"><%= cart && cart.items ? cart.items.length : 0 %></span>
                            </a>
                           
                        </div>
                    </div>
                </div>
               
                <div class="header-action-icon-2">
                    <a class="mini-cart-icon" href="shop-cart.html">
                        <img alt="Evara" src="user/assets/imgs/theme/icons/icon-cart.svg">
                        <!-- <span class="pro-count blue">66</span> -->
                    </a>
                   
                </div>
               
               
            </div>
        </div>
    </div>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <a href="/userAccount"><span></span> Account</a>
                    <a href="#"><span></span> Orders</a>
                </div>
            </div>
        </div>

        <section class="pt-150 pb-150">
            <div class="">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <!-- Sidebar Menu -->
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/userAccount"><i class="fi-rs-user mr-10"></i>Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/address"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="wallet"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                                                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
                                              </svg> &nbsp; Wallet</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Orders Section -->
                            <div class="col-md-8">
                                <p style="color: rgb(255, 23, 23); text-align: center;"><%= fail %></p>
                                <br>
                                <section class="content-main">
                                    <% if(orders && orders.length > 0) { %>
                                        <div class="card">
                                            <header class="card-header">
                                                <h2 class="content-title card-title">Orders</h2>
                                            </header>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align: center;" width="12%">Product</th>
                                                                <th style="text-align: center;" width="12%">Date</th>
                                                                <th style="text-align: center;" width="12%">Total</th>
                                                                <th style="text-align: center;" width="17%">Payment Mehod</th>
                                                                <th style="text-align: center;" width="12%">Status</th>
                                                                <th style="text-align: center;" width="18%">Payment Status</th>
                                                                <th style="text-align: center;" width="17%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let i=0; i<orders.length; i++) { %>
                                                                <tr>
                                                                    <td>
                                                                        <% for(let j=0; j<orders[i].items.length; j++) { %>
                                                                            <div class="left d-content-center" style="display: flex; justify-content: center; align-items: center;">
                                                                                <img src="/public/product_images/<%= orders[i].items[j].product.images[0] %>" width="50" height="50" class="img-xs" alt="Item">
                                                                            </div>
                                                                        <% } %>
                                                                    </td>

                                                                    <td><%= orders[i].orderDate.toLocaleDateString() %></td>

                                                                   
                                                                    <td style="text-align: center;"><%= orders[i].totalWithDiscount %></td>
                                                                    <td style="text-align: center;"><%=  orders[i].paymentMethod %> </td>
                                                                    <td style="text-align: center;">
                                                                        <% if(orders[i].status === "Pending") { %>
                                                                            <span class="badge rounded-pill alert-success">Pending</span>
                                                                        <% } else if(orders[i].status === "Cancelled") { %>
                                                                            <span class="badge rounded-pill alert-danger">Cancelled</span>
                                                                        <% } else if(orders[i].status === "Shipped") { %>
                                                                            <span class="badge rounded-pill alert-success">Shipped</span>
                                                                        <% } else if(orders[i].status === "Delivered") { %>
                                                                            <span class="badge rounded-pill alert-success">Delivered</span>
                                                                        <% } else { %>
                                                                            <span class="badge rounded-pill alert-danger">Returned</span>
                                                                        <% } %>
                                                                    </td>
                                                                    <td style="text-align: center;"><%= orders[i].paymentStatus %></td>
                                                                    <td style="text-align: center;">
                                                                        <a href="/orderDetails?orderid=<%= orders[i]._id %>" class="btn btn-md btn-primary" style="margin-bottom: 10px;">Details</a>
                                                                        <% if(orders[i].status !== 'Cancelled' && orders[i].status !== 'Delivered' && orders[i].status!== 'Returned') { %>
                                                                            <a href="javascript:void(0);" class="btn btn-md btn-primary" onclick="openCustomAlert('<%= orders[i]._id %>')">Cancel</a>

                                                                            <div id="customAlert" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); background:#fff; padding:20px; border:1px solid #333; z-index:9999; border-radius:10px; box-shadow:0 0 15px rgba(0,0,0,0.3); width: 300px; height: 200px; text-align:center;">
                                                                                <p>Are you sure you want to delete this address?</p>
                                                                                <button id="confirmDelete" class="btn-small" style="background-color:red;color:white;padding:10px;margin-right:10px;">Yes</button>
                                                                                <button onclick="closeCustomAlert()" class="btn-small" style="background-color:green;color:white;padding:10px;">No</button>
                                                                            </div>
                                                                            
                                                                        <% }if(orders[i].status =='Delivered') {%>
  
                                                                            <a  data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-md btn-primary">Return</a>

                                                                            <!-- Modal -->
                                                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog" role="document">
                                                                                  <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                      <h4 class="modal-title" id="exampleModalLabel">Product Returning</h4>
                                                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                      </button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                      
                                                                                        <form action="/returnProduct?orderid=<%= orders[i]._id %>" method="POST">
                                                                                            <div class="form-group">
                                                                                              <h5><label for="message-text" class="col-form-label">Please write the reason for returning</label></h5>
                                                                                              
                                                                                              <textarea class="form-control" id="message-text" name="reason" style="border-color: #000000;" 
                                                                                                required 
                                                                                                pattern=".*\S+.*" 
                                                                                                title="Reason cannot be empty or contain only spaces"></textarea>
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                                              <button type="submit" class="btn btn-primary">Send</button>
                                                                                            </div>
                                                                                          </form>
                                                                                          
                                                                                      
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            <% } %>

                                                                            <% if(orders[i].paymentStatus == 'Payment Pending'){ %>
                                                                                <!-- <a href="/orderDetails?orderid=<%#= orders[i]._id %>" class="btn btn-md btn-Warning" style="margin-bottom: 10px;">Retry</a> -->
                                                                                <button 
                                                                                id="retry" 
                                                                                type="button" 
                                                                                style="border-color:red;color: red;" 
                                                                                class="btn" 
                                                                                data-order-id=<%= orders[i]._id %>>
                                                                                Retry
                                                                            </button> 
                                                                                <% } %>
                                                                               

                                                                    </td>
                                                                </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                    <!-- <div class="col-md-10" style="text-align: center; margin: 0px 56px 60px;">
                                                        <a href="/downloadinvoice/" class="btn btn-md btn-primary">Download Invoice</a>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <h5 style="text-align: center;">You don't have any orders!</h5>
                                    <% } %>
                                </section>
                                <div class="pagination-area mt-30 mb-50">
                                    <nav aria-label="Page navigation example">
                                      <ul class="pagination justify-content-start">
                                        <!-- Previous Page Link -->
                                        <% if (currentPage > 1) { %>
                                          <li class="page-item">
                                            <a class="page-link" href="?page=<%= currentPage - 1 %>">
                                              <i class="material-icons md-chevron_left"></i>
                                            </a>
                                          </li>
                                        <% } %>
                                  
                                        <!-- Page Number Links -->
                                        <% for (let i = 1; i <= totalPages; i++) { %>
                                          <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                          </li>
                                        <% } %>
                                  
                                        <!-- Next Page Link -->
                                        <% if (currentPage < totalPages) { %>
                                          <li class="page-item">
                                            <a class="page-link" href="?page=<%= currentPage + 1 %>">
                                              <i class="material-icons md-chevron_right"></i>
                                            </a>
                                          </li>
                                        <% } %>
                                      </ul>
                                    </nav>
                                  </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <!-- <a href="index.html"><img src="user/assets/imgs/theme/logo.svg" alt="logo"></a> -->
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="user/assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="user/assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="user/assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- JS and jQuery Scripts -->
    <!-- <script src="http://localhost:4444/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="http://localhost:4444/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:4444/user/js/vendor/bootstrap.bundle.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    function openCustomAlert(orderId) {
        
        document.getElementById("confirmDelete").setAttribute("data-orderid", orderId);
        document.getElementById("customAlert").style.display = "block";
    }
  
    function closeCustomAlert() {
        document.getElementById("customAlert").style.display = "none";
    }
  
    document.getElementById("confirmDelete").addEventListener("click", function() {
        const orderId = this.getAttribute("data-orderid");
        
        window.location.href = `/cancelOrder/?orderid=${orderId}`;
    });
  </script>



<script>
    document.getElementById('retry').addEventListener('click', () => {
        const orderId = document.getElementById('retry').getAttribute('data-order-id');

console.log(orderId);

        
        fetch('/createOrderRetry', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                orderId,
                
               
            }),
        })
        .then(response => response.json())
        .then(order => {
            console.log('Order retry response:', order);

           
            const options = {
                key: "rzp_test_YCA4FknRMLC2X0",
                amount: order.amount,
                currency: "INR",
                name: "Chronex",
                description: "Test Transaction",
                order_id: order.id, 
                handler: function (response) {
                  
                    fetch('/verifyPamentRetry', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                          orderId
                        
                        }),
                    })
                    .then(res => res.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = data.redirectUrl;
                        } else {
                            document.getElementById('wrong').textContent = 'Payment verification failed!';
                        }
                    });
                },
                theme: {
                    color: "#F37254"
                },
                modal: {
                    ondismiss: function() {
                        console.log("Payment cancelled by the user.");

                       
                        fetch('/logOrderCancellation', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                status: "Order Cancelled",
                                transactionStatus: "Pending",
                                order_id: order.id, 
                                payment_option: paymentMethod,
                                address: address,
                                productIds: [productId],
                                couponName: couponName
                            }),
                        })
                        .then(res => res.json())
                        .then(data => {
                            if (data.success) {
                                window.location.href = data.redirectUrl;
                            } else {
                                document.getElementById('wrong').textContent = 'Error logging cancellation!';
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            document.getElementById('wrong').textContent = 'Error logging cancellation!';
                        });
                    }
                }
            };


            const rzp1 = new Razorpay(options);
            rzp1.open();
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('wrong').textContent = 'Error creating Razorpay order!';
        });
    });
</script>



</body>
</html>
