<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <title>chronex</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- Template CSS -->
    <link rel="stylesheet" href="user/assets/css/main.css">


</head>

<body>
    
    
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
              
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">
                       
                        
                    </div> 


                    <!-- pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp -->
                    <div class="main-menu  main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>
                                <li><a href="/home">Home </a>
                                    
                                </li>
                                <li><a class="" href="/shop">Shope </a>
                                        
                                </li>
                               
                                <li><a href="#">Category<i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% for(let i=0;i<category.length;i++){ %>
                                        <li><a href="#"><%= category[i].category %></a></li>
                                        <% } %>
                                    </ul>
                                </li>
                                <li><a href="#">Brand<i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% for(let i=0;i<brand.length;i++){ %>
                                            <li><a href="#"><%= brand[i].brand %></a></li>
                                            <% } %>
                                        
                                    </ul>
                                </li>   
                                <li>
                                    <a href="page-about.html">About</a>
                                </li>
                               
                              
                                <li>
                                    <a href="page-contact.html">Contact</a>
                                </li>

                                <li>
                                    <a class="active"  href="page-contact.html">Account</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-block">
                    <p><i class="fi-rs-headset"></i><span>Helpline</span> 1900 - 888 </p>
                </div>
                <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                <div class="header-action-right d-block d-lg-none">
                    
                </div>
            </div>
        </div>
    </div>
    <main class="main"></main>
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/home" rel="nofollow">Home</a>
                <a href="http://localhost:5000/userAccount">  <span></span> Account</a>
                <a href="http://localhost:5000/order">  <span></span> Order</a>
                <a href="#">  <span></span> Order Details</a>
                
                
            </div>
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile"><i
                                                class="fi-rs-user mr-10"></i>Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/home/account/myOrders"><i
                                                class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/address"><i class="fi-rs-marker mr-10"></i>My
                                            Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout"><i
                                                class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <!-- /////////////////////////////////////////////////////////////////// -->
                        <div class="col-md-8">
                            <section class="content-main">
                                <div class="content-header">
                                    <div>
                                        <h2 class="content-title card-title">Order Detail</h2>
                                        <p>Details for Order ID: 3453012</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <header class="card-header">

                                        <div class="row align-items-center">
                                            <div class="col-lg-9 col-md-6 mb-lg-0 mb-15">
                                                <span>
                                                    <i class="material-icons md-calendar_today"></i> <b><i class="fa fa-rss" aria-hidden="true"></i></b>
                                                </span> <br>
                                                <small class="text-muted">Order ID: 3453012</small>
                                            </div>


                                        </div>

                                    </header> <!-- card-header end// -->
                                    <div class="card-body">

                                        <div class="row mb-50 mt-20 order-info-wrap">
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-person"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1"><%= user.name %></h6>
                                                        <p class="mb-1">
                                                            <%= user.email %> <br>
                                                                <%= user.phone %> <br>
                                                                
                                                        </p>
                                                    </div>
                                                </article>
                                            </div> <!-- col// -->
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-local_shipping"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Order info</h6>
                                                        <p class="mb-1">
                                                            Shipping: Fargo express <br> Pay method:COD
                                                         
                                                           
                                                        </p>
                                                        
                                                            <!-- <a href="#">Retry payment</a> -->
                                                           

                                                    </div>
                                                </article>
                                            </div> <!-- col// -->
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-place"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Deliver to</h6>
                                                        <p class="mb-1">
                                                     
                                                            <%= order.billingDetails.phno %>
                                                     
                                                            <br><%= order.billingDetails.address %>
                                                            <br><%= order.billingDetails.pincode %>
                                                            <br><%= order.billingDetails.city %>
                                                            <br><%= order.billingDetails.state%>
                                                            <br><%= order.billingDetails.country %>           
                                                          
                                                        </p>
                                                    </div>
                                                </article>
                                            </div> 
                                        </div> 
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <!-- <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="40%">Product</th>
                                                                <th width="20%">Unit Price</th>
                                                                <th width="20%">Quantity</th>
                                                                <th width="20%">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                       
                                                                <tr>
                                                                    <td>
                                                                        <a class="itemside" href="#">
                                                                            <div class="left">
                                                                                <img src="/uploads/"
                                                                                    width="40" height="40"
                                                                                    class="img-xs" alt="Item">
                                                                            </div>
                                                                            <div class="info">
                                                                                , XXL size
                                                                            </div>
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                      dfdf
                                                                    </td>
                                                                    <td>
                                                                       dfdf
                                                                    </td>
                                                                    <td>
                                                                       dfdf
                                                                    </td>
                                                                </tr>
                                                       


                                                                    <tr>
                                                                        <td colspan="4">
                                                                            <article class="float-end">
                                                                                <dl class="dlist">
                                                                                    <dt>Subtotal:sdfs
                                                                                    </dt>

                                                                                </dl>
                                                                                <dl class="dlist">
                                                                                    <dt>Discount: dsfg
                                                                                    </dt>

                                                                                </dl>
                                                                                <dl class="dlist">
                                                                                    <dt>Shipping
                                                                                        cost: Free
                                                                                        Shipping
                                                                                    </dt>
                                                                                </dl>
                                                                                <dl class="dlist">
                                                                                    <dt>Grand
                                                                                        total: <b class="h5"></b>
                                                                                    sdfsf
                                                                                            </b>
                                                                                    </dt>
                                                                                </dl>
                                                                                <dl class="dlist">
                                                                                    <dt class="text-muted">
                                                                                        Status: <span
                                                                                            class="badge rounded-pill alert-sdf
                                                                                                                                        ">
                                                                                         
                                                                                        </span>
                                                                                    </dt>
                                                                                </dl>
                                                                               
                                                                                    <dl class="dlist">
                                                                                        <dt class="text-muted">
                                                                                            Reason: <span>
                                                                                           
                                                                                                    orders.returnReason%>
                                                                                            </span>
                                                                                        </dt>
                                                                                    </dl>
                                                                                   
                                                                            </article>
                                                                        </td>

                                                                    </tr>
                                                        </tbody>

                                                    </table> -->
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align: center;"  width="20%">Product</th>
                                                                <th style="text-align: center;" width="20%">Price</th>
                                                                <th style="text-align: center;" width="20%">Quantity</th>
                                                                <th style="text-align: center;" width="20%">Total</th>
                                                                                                                                                                                                                                                                                                          </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let j=0; j < order.items.length; j++) { %>
                                                            <tr>
                                                                <td>
                                                                   
                                                                        <div class="left d-content-center" style="display: flex; justify-content: center; align-items: center;">
                                                                            <img src="/public/product_images/<%= order.items[j].product.images[0] %>" 
                                                                                 width="50" height="50" class="img-xs" alt="Item">
                                                                        </div>
                                                                   
                                                                </td>
                                                                <td style="text-align: center;">
                                                                    <%= order.items[j].product.price %>
                                                                </td>
                                                                <td style="text-align: center;">
                                                                    <%= order.items[j].quantity %>
                                                                </td>
                                                                <td style="text-align: center;">
                                                                    <%= order.items[j].price %>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                            <tr>
                                                                
                                                        </tbody>

                                                        
                                                    </table>
                                                    <div class="col-md-4">
                                                        <article class="icontext align-items-start">
                                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                                <i class="text-primary material-icons md-place"></i>
                                                            </span>
                                                            <div class="text">
                                                                <!-- <h6 class="mb-1">Deliver to</h6> -->
                                                                <p class="mb-1">
                                                                   <b style="font-weight: bold;">Total Price :</b><%= order.totalPrice%> <br> 
                                                                   <b style="font-weight: bold;">Shipping :</b>free <br> 
                                                                   <b style="font-weight: bold;">Grand Total:</b><%= order.totalPrice%> <br>
                                                                   <b style="font-weight: bold;">Status :</b>
                                                                   <% if(order.status === 'pending'){ %>
                                                                   <span class="badge rounded-pill alert-success">Pending</span>
                                                                   <% }else{ %>
                                                                   <span class="badge rounded-pill alert-danger">Cancelled</span>
                                                                   <% } %>
                                                                   <br>
                                                                </p>
                                                            </div>
                                                        </article>
                                                    </div>
                                                  
                                                        <!-- <div class="col-md-10"
                                                            style="text-align: center; margin: 0px 56px 60px;">
                                                          
                                                                <a href="/downloadinvoice/"
                                                                    class="btn btn-md btn-primary">Download Invoice</a>
                                                             
                                                        </div> -->
                                                      

                                                </div> <!-- table-responsive// -->
                                                <!-- <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a> -->
                                            </div> <!-- col// -->
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div> <!-- card-body end// -->
                                </div> <!-- card end// -->
                            </section> <!-- content-main end// -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>

    
    <!-- Preloader Start -->
    
    
    
    <script src="http://localhost:4444/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="http://localhost:4444/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:4444/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="http://localhost:4444/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/slick.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/wow.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery-ui.js"></script>
    <script src="http://localhost:4444/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="http://localhost:4444/user/js/plugins/magnific-popup.js"></script>
    <script src="http://localhost:4444/user/js/plugins/select2.min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/waypoints.js"></script>
    <script src="http://localhost:4444/user/js/plugins/counterup.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/images-loaded.js"></script>
    <script src="http://localhost:4444/user/js/plugins/isotope.js"></script>
    <script src="http://localhost:4444/user/js/plugins/scrollup.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.theia.sticky.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="http://localhost:4444/user/js/main.js"></script>
    <script src="http://localhost:4444/user/js/shop.js"></script>
    
    </body>
    
    </html>