<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <title>chronex</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- Template CSS -->
    <link rel="stylesheet" href="user/assets/css/main.css">


</head>

<body>
    
    
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="index.html"><img src="user/assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <!-- <div class="main-categori-wrap d-none d-lg-block">
                       
                        
                    </div>  -->
                    <div class="logo logo-width-1">
                        <a href="#" ><img src="images/logo_image.png" alt="logo"></a>
                    </div>

                    <!-- pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp -->
                    <div class="main-menu  main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>
                                <li><a  href="/home">Home </a>
                                    
                                </li>
                                <li><a class="" href="/shop">Shope </a>
                                        
                                </li>
                               
                                <li><a href="#">Category<i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% for(let i=0;i<category.length;i++){ %>
                                        <li><a href="#"><%= category[i].category %></a></li>
                                        <% } %>
                                    </ul>
                                </li>
                                <li><a href="#">Brand<i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <% for(let i=0;i<brand.length;i++){ %>
                                            <li><a href="#"><%= brand[i].brand %></a></li>
                                            <% } %>
                                        
                                    </ul>
                                </li>   
                                <li>
                                    <a href="page-about.html">About</a>
                                </li>
                               
                              
                                <li>
                                    <a href="page-contact.html">Contact</a>
                                </li>

                                <li>
                                    <a class="active" href="http://localhost:5000/userAccount">Account</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header-action-right">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/wishlist">
                                <img class="svgInject" alt="Evara" src="user/assets/imgs/theme/icons/icon-heart.svg">
                                <span class="pro-count blue"><%= wishlist && wishlist.items ? wishlist.items.length : 0 %></span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/cart">
                                <img alt="Evara" src="user/assets/imgs/theme/icons/icon-cart.svg">
                                <span class="pro-count blue"><%= cart && cart.items ? cart.items.length : 0 %></span>
                            </a>
                           
                        </div>
                    </div>
                </div>
               
                <div class="header-action-icon-2">
                    <a class="mini-cart-icon" href="shop-cart.html">
                        <img alt="Evara" src="user/assets/imgs/theme/icons/icon-cart.svg">
                        <!-- <span class="pro-count blue">66</span> -->
                    </a>
                   
                </div>
               
               
            </div>
        </div>
    </div>
    <main class="main"></main>
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/home" rel="nofollow">Home</a>
                <a href="http://localhost:5000/userAccount">  <span></span> Account</a>
                <a href="http://localhost:5000/order">  <span></span> Order</a>
                <a href="#">  <span></span> Order Details</a>
                
                
            </div>
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/userAccount"><i
                                                class="fi-rs-user mr-10"></i>Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/order"><i
                                                class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/address"><i class="fi-rs-marker mr-10"></i>My
                                            Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="logout"><i
                                                class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <!-- /////////////////////////////////////////////////////////////////// -->
                        <div class="col-md-8">
                            <section class="content-main">
                                <div class="content-header">
                                    <div>
                                        <h2 class="content-title card-title">Order Detail</h2>
                                        <p>Details for Order ID: 3453012</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <header class="card-header">

                                        <div class="row align-items-center">
                                            <div class="col-lg-9 col-md-6 mb-lg-0 mb-15">
                                                <span>
                                                    <i class="material-icons md-calendar_today"></i> <b><i class="fa fa-rss" aria-hidden="true"></i></b>
                                                </span> <br>
                                                <small class="text-muted">Order ID: 3453012</small>
                                            </div>


                                        </div>

                                    </header> <!-- card-header end// -->
                                    <div class="card-body">

                                        <div class="row mb-50 mt-20 order-info-wrap">
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-person"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1"><%= user.name %></h6>
                                                        <p class="mb-1">
                                                            <%= user.email %> <br>
                                                                <%= user.phone %> <br>
                                                                
                                                        </p>
                                                    </div>
                                                </article>
                                            </div> <!-- col// -->
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-local_shipping"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Order info</h6>
                                                        <p class="mb-1">
                                                            Shipping: Fargo express <br> Pay method:<%= order.paymentMethod %>
                                                         
                                                           
                                                        </p>
                                                        
                                                            <!-- <a href="#">Retry payment</a> -->
                                                           

                                                    </div>
                                                </article>
                                            </div> <!-- col// -->
                                            <div class="col-md-4">
                                                <article class="icontext align-items-start">
                                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                                        <i class="text-primary material-icons md-place"></i>
                                                    </span>
                                                    <div class="text">
                                                        <h6 class="mb-1">Deliver to</h6>
                                                        <p class="mb-1">
                                                     
                                                            <%= order.billingDetails.phno %>
                                                     
                                                            <br><%= order.billingDetails.address %>
                                                            <br><%= order.billingDetails.pincode %>
                                                            <br><%= order.billingDetails.city %>
                                                            <br><%= order.billingDetails.state%>
                                                            <br><%= order.billingDetails.country %>           
                                                          
                                                        </p>
                                                    </div>
                                                </article>
                                            </div> 
                                        </div> 
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <!-- <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="40%">Product</th>
                                                                <th width="20%">Unit Price</th>
                                                                <th width="20%">Quantity</th>
                                                                <th width="20%">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                       
                                                                <tr>
                                                                    <td>
                                                                        <a class="itemside" href="#">
                                                                            <div class="left">
                                                                                <img src="/uploads/"
                                                                                    width="40" height="40"
                                                                                    class="img-xs" alt="Item">
                                                                            </div>
                                                                            <div class="info">
                                                                                , XXL size
                                                                            </div>
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                      dfdf
                                                                    </td>
                                                                    <td>
                                                                       dfdf
                                                                    </td>
                                                                    <td>
                                                                       dfdf
                                                                    </td>
                                                                </tr>
                                                       


                                                                    <tr>
                                                                        <td colspan="4">
                                                                            <article class="float-end">
                                                                                <dl class="dlist">
                                                                                    <dt>Subtotal:sdfs
                                                                                    </dt>

                                                                                </dl>
                                                                                <dl class="dlist">
                                                                                    <dt>Discount: dsfg
                                                                                    </dt>

                                                                                </dl>
                                                                                <dl class="dlist">
                                                                                    <dt>Shipping
                                                                                        cost: Free
                                                                                        Shipping
                                                                                    </dt>
                                                                                </dl>
                                                                                <dl class="dlist">
                                                                                    <dt>Grand
                                                                                        total: <b class="h5"></b>
                                                                                    sdfsf
                                                                                            </b>
                                                                                    </dt>
                                                                                </dl>
                                                                                <dl class="dlist">
                                                                                    <dt class="text-muted">
                                                                                        Status: <span
                                                                                            class="badge rounded-pill alert-sdf
                                                                                                                                        ">
                                                                                         
                                                                                        </span>
                                                                                    </dt>
                                                                                </dl>
                                                                               
                                                                                    <dl class="dlist">
                                                                                        <dt class="text-muted">
                                                                                            Reason: <span>
                                                                                           
                                                                                                    orders.returnReason%>
                                                                                            </span>
                                                                                        </dt>
                                                                                    </dl>
                                                                                   
                                                                            </article>
                                                                        </td>

                                                                    </tr>
                                                        </tbody>

                                                    </table> -->
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align: center;"  width="20%">Product</th>
                                                                <th style="text-align: center;" width="20%">Price</th>
                                                                <th style="text-align: center;" width="20%">Quantity</th>
                                                                <th style="text-align: center;" width="20%">Total</th>
                                                                                                                                                                                                                                                                                                          </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let j=0; j < order.items.length; j++) { %>
                                                            <tr>
                                                                <td>
                                                                   
                                                                        <div class="left d-content-center" style="display: flex; justify-content: center; align-items: center;">
                                                                            <img src="/public/product_images/<%= order.items[j].product.images[0] %>" 
                                                                                 width="50" height="50" class="img-xs" alt="Item">
                                                                        </div>
                                                                   
                                                                </td>
                                                                <td style="text-align: center;">
                                                                    <%= order.items[j].product.price %>
                                                                </td>
                                                                <td style="text-align: center;">
                                                                    <%= order.items[j].quantity %>
                                                                </td>
                                                                <td style="text-align: center;">
                                                                    <%= order.items[j].price %>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                            <tr>
                                                                
                                                        </tbody>

                                                        
                                                    </table>
                                                    <div class="col-md-4">
                                                        <article class="icontext align-items-start">
                                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                                <i class="text-primary material-icons md-place"></i>
                                                            </span>
                                                            <div class="text">
                                                                <!-- <h6 class="mb-1">Deliver to</h6> -->
                                                                <p class="mb-1">
                                                                   <b style="font-weight: bold;">Total Price :</b><%= order.totalPrice%> <br> 
                                                                   <b style="font-weight: bold;">Shipping :</b>free <br>
                                                                   <b style="font-weight: bold;">Discount :</b><%= order.discount%> <br> 
                                                                   <b style="font-weight: bold;">Grand Total:</b><%= order.totalWithDiscount%> <br>
                                                                   <b style="font-weight: bold;">Status :</b>

                                                                   <% if(order.status === "Pending"){ %>
                                                                    <span class="badge rounded-pill alert-success">Pending</span>
                                                                  <% } else if(order.status === "Cancelled") { %>
                                                                    <span class="badge rounded-pill alert-danger">Candelled</span>
                                                                  <% } else if(order.status === "Shipped"){%>
                                                                  <span class="badge rounded-pill alert-success">Shipped</span>
                                                                  <% } else if(order.status === "Delivered"){%>
                                                                  <span class="badge rounded-pill alert-success">Delivered</span>
                                                                  <% } else{%> 
                                                                  <span class="badge rounded-pill alert-danger">Returned</span>
                                                                      <% } %>

                                                                   <br>
                                                                </p>
                                                            </div>
                                                        </article>
                                                    </div>
                                                   
                                                        <!-- <div class="col-md-10"
                                                            style="text-align: center; margin: 0px 56px 60px;">
                                                          
                                                                <a href="/downloadinvoice/"
                                                                    class="btn btn-md btn-primary">Download Invoice</a>
                                                             
                                                        </div> -->
                                                      

                                                </div> <!-- table-responsive// -->
                                                <!-- <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a> -->
                                            </div> <!-- col// -->
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div> 
                                    <div class="col-md-10" style="text-align: end; margin: 0px 56px 60px;">
                                        <a href="/invoice?id=<%= order._id %>" class="btn btn-md ">view / Download Invoice</a>
                                    </div><!-- card-body end// -->
                                </div> 
                                <!-- card end// -->
                            </section> <!-- content-main end// -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    <footer class="main">
        
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <!-- <a href="index.html"><img src="user/assets/imgs/theme/logo.svg" alt="logo"></a> -->
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="user/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="user/assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="user/assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="user/assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Preloader Start -->
    
    
    
    <!-- <script src="http://localhost:4444/user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="http://localhost:4444/user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:4444/user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="http://localhost:4444/user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/slick.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/wow.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery-ui.js"></script>
    <script src="http://localhost:4444/user/js/plugins/perfect-scrollbar.js"></script>
    <script src="http://localhost:4444/user/js/plugins/magnific-popup.js"></script>
    <script src="http://localhost:4444/user/js/plugins/select2.min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/waypoints.js"></script>
    <script src="http://localhost:4444/user/js/plugins/counterup.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.countdown.min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/images-loaded.js"></script>
    <script src="http://localhost:4444/user/js/plugins/isotope.js"></script>
    <script src="http://localhost:4444/user/js/plugins/scrollup.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.vticker-min.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.theia.sticky.js"></script>
    <script src="http://localhost:4444/user/js/plugins/jquery.elevatezoom.js"></script> -->
    <!-- Template  JS -->
    <!-- <script src="http://localhost:4444/user/js/main.js"></script>
    <script src="http://localhost:4444/user/js/shop.js"></script>
     -->
    </body>
    
    </html>